<!DOCTYPE html>
<html>
<head>
    <title>Tic Tac Toe</title>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/styles.css')}}">
</head>
<body>
    <div id="game">
        <h2>Tic Tac Toe</h2>
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" required>
        </div>
        <div>
            <button onclick="createRoom()">Create Game Room</button>
            <label for="room">Room Code:</label>
            <input type="text" id="room" required>
            <button onclick="joinRoom()">Join Room</button>

            <button onclick="computerPlay()">Play Against Ai</button>
        </div>
        <div id="board" style="display:none;">
            <!-- Game board will be dynamically generated here -->
        </div>
        <button id="restartBtn" style="display:none;" onclick="restartGame()">Restart Game</button>
    </div>
    <script src="{{ url_for('static', filename='scripts/scripts.js')}}"></script>
</body>
</html>
